/node_modules
/public/hot
/storage/*.key
/vendor
/dev.backup
.env
.env.backup
.env.deploy
.env.sail
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/js/resources_js_Pages*
public/js/modules_*
public/js/skins
public/js/fontawesome.js
public/css/local.css
public/js/local.js
.DS_Store
/modules/*/node_modules
/modules/*/vendor
public/js/modules_*_js_Pages*
