.carousel {
    width: 100%;
}

.carousel-button:hover {
    cursor: pointer;
}

.carousel-indicator-item {
    width: 15px;
    height: 15px;
    opacity: 0.5;
    margin: 0.2em;
    border-radius: 50%;
    float: left;
}

.carousel-indicator > .active {
    opacity: 1;
}