// custom.scss
.is-vertical-center {
  display: flex;
  align-items: center;
}

.h-line-wrapper {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
  .h-line-words {
    background:#fff; 
    padding:0 10px;
  }
}

#main-container-wrapper {
  height: 100vh
}
