// custom.scss
.is-vertical-center {
  display: flex;
  align-items: center;
}

.h-line-wrapper {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
  .h-line-words {
    background:#fff;
    padding:0 10px;
  }
}

.edit-mode-toolbar-content {
  position: relative;
  .field {
    position: absolute;
    right: -0.75rem;
    top: -0.75rem;
    .control {
      z-index: 1;
    }
  }
}

.edit-mode-column {
    border: 1px #D3D3D3 dashed;
}

#side-menu-page-builder {
    position: sticky;
    max-height: 100vh;
    top: 0;
    bottom: 0;
}

/* media thumbnail icon */
.card-image {
    .icon {
        height: 100%;
        .fa-stack {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
    }
}

.card-equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;

    .card-image {
        height: inherit;
    }

    .card-footer {
        margin-top: auto;
    }
}

/* sweetalert */
.swal2-container-index {
    z-index: 9999 !important;
}