/* media thumbnail icon */
.card-image
  .icon
    height: 100%
    .fa-stack
      display: flex
      justify-content: center
      align-items: center
      width: 100%
      height: 100%

.card-equal-height
  display: flex
  flex-direction: column
  height: 100%
  .card-image
    height: inherit
  .card-footer
    margin-top: auto

.break-long-text
  word-break: break-word
