.edit-mode-toolbar-content
  position: relative
  .field
    position: absolute
    right: -0.75rem
    top: -0.75rem
    .control
      z-index: 1


.edit-mode-column
  border: 1px #D3D3D3 dashed

#side-menu-page-builder
  position: sticky
  max-height: 100vh
  top: 0
  bottom: 0

/* sweetalert */
.swal2-container-custom
  z-index: 9999 !important
