body
  font-family: 'Roboto', 'Segoe UI', sans-serif

.edit-mode-toolbar-content
  position: relative
  .field
    position: absolute
    right: -0.75rem
    top: -0.75rem
    .control
      z-index: 2

.is-moveable
  cursor: move !important

.edit-mode-column
  border: 1px #D3D3D3 dashed

#side-menu-page-builder
  position: sticky
  min-height: 100vh
  top: 0
  bottom: 0
  z-index: 5

#page-form-builder
    .empty-icon
        width: 15px
        height: 15px
        background: #D3D3D3
        border-radius: 50%
    .input-area
        min-width: 20px
        border-bottom: 1px solid #D3D3D3
    .border-dash
        border: 1px #D3D3D3 dashed
    .edit-mode-columns
        position: relative

/* sweetalert */
.swal2-container-custom
  z-index: 9999 !important
